body {
  padding: 0.5rem;
}

table {
  margin-top: 1rem;
}

td {
  min-width: 60px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 0.4rem;
}

button {
  padding: 0.5rem;
  margin-right: 0.5rem;
}
